**/bin/
**/obj/
**/TestResults/
**/node_modules/
src/Immediate.Jobs.Dashboard/Assets/
.idea/
.vs/
*.DotSettings.user
BenchmarkDotNet.Artifacts/*
!BenchmarkDotNet.Artifacts/results/
BenchmarkDotNet.Artifacts/results/*
!BenchmarkDotNet.Artifacts/results/*-report-github.md
**/node_modules/
